* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap {
    margin-top: 15px;
}
body {
    height: 150vh;
}
.navigation {
    height: 30px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: .5s;
}
.arrow {
    font-size: 36px;
    position: fixed;
    bottom: 40px;
    right: 45px;
    transition: .5s;
}
.navigation.on {
    height: 300px;
}
.arrow.on {
    margin-bottom: 270px;
    transform: rotate(180deg);
}