* {
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
li {
    float: left;
    color: #bbb;
}
nav {
    background-color: #343A40;
    padding-left: 5%;
    text-align: center;
}

ul {
    max-width: 1280px;
    list-style: none;
    display: inline-block;
}

a {
    display: block;
    color: #bbb;
    height: 70px;
}
