div.icon {
    position: fixed;
    right: 50px;
    top: 30px;
    font-size: 40px;
    color: grey;
}
div.icon:hover {
    color: black;
    transition: .4s;
    cursor: pointer;
}
body{
    min-height: 200vh;
}
